OLLAMA_BASE_URL=http://127.0.0.1:11434
# OLLAMA_MODEL=gemma3:latest
OLLAMA_MODEL=qwen2.5-coder:7b
OLLAMA_EMBEDDINGS_MODEL=nomic-embed-text:latest
LANCEDB_DIR=./lancedb
LANCEDB_BATCH_SIZE=100
LANCEDB_TABLE_NAME=knowledge_base
PORT=3000